<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConexion" maxReceivedMessageSize = "6000000" maxBufferSize="60000000"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ControlDeCalidadServicio"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConexion"
                contract="ConexionWebService.IConexion" name="BasicHttpBinding_IConexion" />
        </client>
    </system.serviceModel>
</configuration>